<section class="contact-size"></section>
<section class=" contact img-fluid" style="
background-image: linear-gradient(rgb(24 63 105), rgb(24 63 105 / 32%)),
  url(./assets/images/office1.jpg); width: 100%; max-height: 30%;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-5 ">
          <h3 style="color: #fff; text-align: center;">We are here to help <b>You...</b></h3>
        </div>
        <form class="g-3 needs-validation" [formGroup]="enquiryForm" (ngSubmit)="sendEnquiry()" novalidate>
          <div class="mb-3 form-group">
            <input type="text" class="form-control" formControlName="fname" [(ngModel)]="enquiry.fname" id="fname"
              placeholder="First Name" required>
            <div *ngIf="f['fname']?.touched && f['fname']?.invalid" class="alert alert-danger">
              <div *ngIf="f['fname']?.errors && f['fname'].errors?.['required']">First Name is required.</div>
            </div>
          </div>
          <div class="mb-3 form-group">
            <input type="text" class="form-control" formControlName="lname" [(ngModel)]="enquiry.lname" id="lname"
              placeholder="Last Name">
          </div>
          <div class="mb-3 form-group">
            <input type="email" formControlName="email" [(ngModel)]="enquiry.email" id="email" class="form-control"
              placeholder="Your E-mail Address" required>
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
              <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
              <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
            </div>
          </div>
          <div class="mb-3 form-group">
            <input type="number" formControlName="phone" [(ngModel)]="enquiry.phone" id="phone" class="form-control"
              placeholder="Contact Number" required>
            <div *ngIf="f['phone'].touched && f['phone'].invalid" class="alert alert-danger">
              <div *ngIf="f['phone'].errors && f['phone'].errors['required']">Contact Number is required.</div>
            </div>
          </div>
          <div class="mb-3 form-group">
            <input type="text" class="form-control" formControlName="company" [(ngModel)]="enquiry.company" id="company"
              placeholder="Company Name">
          </div>
          <div class="mb-3 form-group">
            <select class="form-select" aria-label="Default select example" formControlName="service"
              [(ngModel)]="enquiry.service" required>
              <option *ngFor="let service of services" [ngValue]="service.name">
                {{ service.name }}
              </option>
            </select>
          </div>
          <div class="mb-3 form-group">
            <textarea formControlName="message" class="form-control" [(ngModel)]="enquiry.message" id="message"
              cols="30" rows="3" placeholder="Your Message" required></textarea>
            <div *ngIf="f['message'].touched && f['message'].invalid" class="alert alert-danger">
              <div *ngIf="f['message'].errors && f['message'].errors['required']">Message is required.</div>
            </div>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto ">
            <button type="submit" class="btn btn-primary btn-lg" style="background: #e28042;"
              [disabled]="enquiryForm.invalid || emailSentSuccess">Send Message
              <span class="spinner-border text-primary" *ngIf="emailSentSuccess" role="status">
              </span>
            </button>
          </div>
          <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert"
            *ngIf="emailReceived">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
              <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
              {{responseMessage}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </form>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="mb-5">
          <span>
            <h1 class="contactus-heading"><b>Contact Us</b></h1>
          </span>
        </div>

        <div class="mb-5">
          <p class="contact-info fw-light">While we are good with smoke signals, there are simpler ways for us to get
            in touch and answer for your enquiries.</p>
        </div>
      </div>
    </div>
  </div>
</section>