<div class="container">
    <div class="row">
     <div class="col col-md-4" >
       <div class="card text-center" >
         <img [src]= "" class="card-img-top" alt="..." style="height: 12rem;"/>
         <div class="card-body">
           <h5 class="card-title">welcome</h5>
           <p class="card-text">
             Some quick example text to build on the card title and make up the
             bulk of the card's content.
           </p>
           <a href="#" class="btn btn-primary" >know more</a>
         </div>
       </div>
       <div style="padding-top: 25px;"></div>
     </div>
   </div>  
 </div>