<nav
      class="navbar fixed-top navbar-expand-md navbar-light"
      style="background-color: #183f69;"
    >
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home"
          ><img [src]="'./assets/images/logo.png'" width="100" alt="InnovizLogo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" aria-expanded="false">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/our-company">Our Company</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              >
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/services">Electrical Solutions</a>
                <a class="dropdown-item" routerLink="/home">Security Solutions
                </a>
                <a class="dropdown-item" routerLink="/services">Networking Solutions</a>
                <a class="dropdown-item" routerLink="/services">Parking Solutions</a>
                <a class="dropdown-item" routerLink="/services">Information Security</a>
                <a class="dropdown-item" routerLink="/services">Fiber Optic Solutions</a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/services">more services...</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/careers">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<router-outlet></router-outlet>
