<nav
      class="navbar fixed-top navbar-expand-md navbar-light"
      style="background-color: #183f69;"
    >
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home"
          ><img [src]="'./assets/images/logo.png'" width="100" alt="InnovizLogo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" aria-expanded="false">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/our-company">Our Company</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              >
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/services">Electrical Solutions</a>
                <a class="dropdown-item" routerLink="/home">Security Solutions</a>
                <a class="dropdown-item" routerLink="/services">Networking Solutions</a>
                <a class="dropdown-item" routerLink="/services">Parking Solutions</a>
                <a class="dropdown-item" routerLink="/services">Information Security</a>
                <a class="dropdown-item" routerLink="/services">Fiber Optic Solutions</a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/services">more services...</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/careers">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<router-outlet></router-outlet>
<hr>
<!-- footer section -->

<footer class="site-footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4 mb-5">
        <h2>Our Company</h2>
        <p>A paragraph is a series of sentences that are organized and coherent.</p>
        <p><a routerLink="/our-company">Click here to know more</a></p>
      </div>
      <div class="col-md-5 mb-5">
        <h2>Contact &amp; Address</h2>
        <ul class="list-unstyled footer-link">
          <li class="d-flex">
            <span class="me-3">Address:</span>
            <span class="tex-white">Abdul Rahman Bin Jassim Street, <br>
              AL WAKRA, DOHA-QATAR</span>
          </li>
          <li class="d-flex">
            <span class="me-3">Telephone:</span>
            <span class="tex-white">44357958, 50216760 </span>
          </li>
          <li class="d-flex">
            <span class="me-3">Email:</span>
            <span class="tex-white">info@innovizqatar.com</span>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-5">
        <h2>Quick Links</h2>
        <ul class="list-unstyled footer-link">
          <li><a href="">Our Company</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 text md center text-left">
        <p>Copyright @2022: Innoviz Systems</p>
      </div>
    </div>
  </div>
</footer>

