

.navbar-brand {
  margin-left: 30px;
}

.nav-item .nav-link {
  color: #fff;
  border-radius: 20px;
  padding: 6px 20px;
  transition: 2s;
}

.nav-item .nav-link:hover,
.nav-item .nav-link.active {
  background: #f05a2a;
  margin: auto;
}

.dropdown-menu {
  padding: 20px;
  background: rgb(0 123 255 / 25%);
}

.dropdown-menu a {
  color: #fff;
  border-radius: 20px;
  padding: 6px 20px;
}

.dropdown-menu a:hover {
  background: #f05a2a;
  margin: auto;
}

/* footer section */

.site-footer {
  padding: 5em 0;
  background: #004e8d;
  border-top-right-radius: 20px;
  font-size: 14px;
  color: #fff;
  
}

.site-footer p:last-child{
  margin-bottom: 0;
}

.site-footer a {
  /* text-decoration: none; */
  color: #f05a2a;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.site-footer a :hover{
  color: blue;
  border-bottom: 1px solid red;

}

.site-footer h2 {
  font-size: 22px;
  margin-bottom: 28px;
  letter-spacing: .05em;
  color: #fff;
}

.site-footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px;

}
/* @media screen and (max-width: 800px) {
  .navbar-nav ul li {
    display: block;
  }
  .navbar-nav {
    background: #f05a2a;
    position: absolute;
    height: 100vh;
    top: 88px;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
    padding: 19px;
    border-radius: 5px;
    box-sizing: content-box;
  }

  .navbar-nav ul {
    padding: 30px;
  }

  .nav-item .nav-link:hover,
    .nav-item .nav-link.active {
    background: #183f69;
    margin: auto;
    }

} */
