<!-- <section class="service-container">
<div class="container carousel-containers">
    <div class="row">
        <div class="col-md-12">
            <owl-carousel-o [options]="serviceOptions" class="carousel-container">
                <ng-template carouselSlide *ngFor="let service of services; let i=index;">
                    <div>
                        <div class="text-box">
                            <h1>{{service.name}}</h1>
                        </div>

                        <img [src]="service.img" alt="service" >
                    </div>
                </ng-template>
              </owl-carousel-o>
        </div>
    </div>
</div>
</section> -->
<!-- <section class="service-container"></section> -->
<section id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Services</h2>
                <p>We provide all kinds of Information and Communications technology solutions</p>
            </div>
        </div>
    </div>
</section>
<section id="services" class="service-container serviceDetails">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="accordion" id="'accordionExample_{{i}}'" 
            *ngFor="let service of services; let i = index;">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="'headingOne_{{i}}'">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                    [attr.data-bs-target]="'#collapseOne_{{i}}'" aria-expanded="true" 
                    [attr.aria-controls]="'collapseOne_{{i}}'">
                      {{service.name}}
                    </button>
                  </h2>
                  <div id="'collapseOne_{{i}}'" class="accordion-collapse collapse show"
                   [attr.aria-labelledby]="'headingOne_{{i}}'" [attr.data-bs-parent]="'#accordionExample_{{i}}'">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-8">
                                <img src="{{service.img}}" alt={{service.name}}>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <li *ngFor="let details of service.details">
                                        {{details}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

