<section id="header" class="header">
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <h2>Services</h2>
                <p>We provide all kinds of Information and Communications technology solutions</p>
            </div>
        </div>
    </div>
</section>
<section id="services" class="service-container serviceDetails">
    <div class="container" style="padding-bottom: 20px;">
        <div class="row justify-content-around align-items-center">
            <div class="accordion" attr.id="accordionExample" 
            *ngFor="let service of services; let i = index;">
                <div class="accordion-item" >
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" [attr.data-bs-toggle]="'collapse'" 
                    [attr.data-bs-target]="'#collapseOne_' + i"  [attr.aria-bs-controls]="'collapseOne_' + i">
                      {{service.name}} 
                    </button>
                  </h2>
                  <div [attr.id]="'collapseOne_' + i" class="accordion-collapse collapse"  
                  [class.show]='i == 0 ? true : false'
                   aria-labelledby="headingOne" 
                   data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-8">
                                <img src="{{service.img}}" alt={{service.name}}>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <li *ngFor="let details of service.details">
                                        {{details}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

