<section
  class="header"
  style="
    background-image: linear-gradient(rgb(2 0 26), rgba(14, 13, 12, 0.7)),
      url('./assets/images/banner.png');
  "
>
  <!-- <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: none; height: 115px"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img [src]="'./assets/images/logo.png'" width="100" alt="InnovizLogo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="true"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/our-company">Our Company</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                routerLink="/services"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
              >
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/home">Action</a>
                <a class="dropdown-item" routerLink="/home">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/home">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/careers">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

  <div class="text-box">
    <h1><a routerLink="/our-company">INNOVIZ SYSTEMS</a></h1>
    <!-- <p>
        “Use the best possible materials, and reveal the quality of those
        materials <br />
        and the craftsmanship of their assembly.” – Karl Friedrich Schinkel
      </p>  -->
    <a routerLink="/services" class="visit-btn">Our Services</a>
  </div>
</section>
<section class="services">
  <h3>Our Services</h3>
  <p>
    We provide all kinds of constrution and building services and we are always
    glad to resolve nonstatndard and unique tasks. We always take challenges and
    bring them to a conclusion.
  </p>
  <div class="container">
     <div class="row">
      <div class="col col-md-4" *ngFor="let service of services; let i = index">
        <div class="card text-center" >
          <img [src]= service.img class="card-img-top" alt="..." style="height: 12rem;"/>
          <div class="card-body">
            <h5 class="card-title">{{service.name}}</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a class="btn btn-primary" (click)="onSelectService(service)">know more</a>
          </div>
        </div>
        <div style="padding-bottom: 25px;"></div>
      </div>
    </div> 
    <div class="row ">
      <div class="d-grid gap-2 col-6 mx-auto link">  
        <a class="btn btn-outline-primary" routerLink="/services" role="button">Check more services</a>
        <!-- <button class="btn btn-primary">Check more services</button> -->
      </div>
    </div>
  </div>
 
  <!-- <div class="container">
    <div class="row">
     <div class="col col-md-4" *ngFor="let service of services; let i = index">
       <div class="card">
        <a href="">
         <img [src]= service.img class="card-img-top" alt="..." style="height: 12rem;"/>
         <div class="card-body">
           <h5 class="card-title">{{service.name}}</h5>
         </div>
         </a>
       </div>
       <div style="padding-top: 25px;"></div>
     </div>
   </div>   

   
 </div>-->


</section>
